
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{title}}</h1>
                <p>This point apps aims to give points customers as referal gifts.</p>
                <form method="POST" action="/">
                    <input type="hidden" name="metafieldId" value="{{metafieldId}}"/>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Branding</h5>
                            <p>Customize the points blocks the way it looks.</p>
                            <div class="form-group row">
                                <label for="title" class="col-sm-2 col-form-label">Title</label>
                                <div class="col-sm-10">
                                <input type="text" name="title" class="form-control" id="title" value="{{metavalue.pointWidgetTitle}}" required="required">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">Box Corner</div>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                        <label class="form-check-label" for="gridCheck1">
                                            Enable round corner
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">This section is provided with the server Admin. <a href="mailto:tastypoints.io">Ask em</a></h5>
                            <div class="form-group row">
                                <label for="token" class="col-sm-2 col-form-label">Token</label>
                                <div class="col-sm-10">
                                <input type="text" name="token" class="form-control" id="token" value="{{metavalue.pointWidgetToken}}" required="required">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="server" class="col-sm-2 col-form-label">Server</label>
                                <div class="col-sm-10">
                                <input type="text" name="server" class="form-control" id="server" value="{{metavalue.pointWidgetServer}}" required="required">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function(){
        $('form').on('submit', function() {
            var obj = $(this), // (*) references the current object/form each time
            url = obj.attr('action'),
            method = obj.attr('method'),
            data = {};

            obj.find('[name]').each(function(index, value) {
            // console.log(value);
            var obj = $(this),
                name = obj.attr('name'),
                value = obj.val();
                data[name] = value;
            });

            $.ajax({
                // see the (*)
                url: url,
                type: method,
                data: data,
                success: function(response) {
                    console.log(response);
                    // $("#feedback").html(data);
                }
            });
            return false; //disable refresh
        });

    });

</script>
 