<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{title}}</h1>
                <p>This point apps aims to give points customers as referal gifts.</p>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Instruction</h5>
                        <p>Replace code start line 1054 - line 1057 on file <code>Assests/theme.js</code></p>
<code>
    <pre>
        var amt = variant.options.slice(0, 1);
        let amtEl;
        if(amt == 0) {
            amtEl = Shopify.formatMoney(variant.price, moneyFormat);
        } else {
            amtEl = Shopify.formatMoney(variant.price, moneyFormat) + ' For ' + variant.options.slice(0, 1) + ' Tasty Points'
        }
        // Regardless of stock, update the product price
        this.selectors.$productPrice.empty().html(amtEl);
    </pre>
</code>
                    </div>  
                </div>
                <form method="POST" action="/variants">
                    <input type="hidden" name="metafieldId" value="{{metafieldId}}"/>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Branding</h5>
                            <p>Customize the points blocks the way it looks.</p>
                            <div class="form-group row">
                                <label for="title" class="col-sm-2 col-form-label">Title</label>
                                <div class="col-sm-10">
                                <input type="text" name="title" class="form-control" id="title" value="{{metavalue.pointWidgetTitle}}" readonly>
                                </div>
                            </div>
                            {{!-- <div class="form-group row">
                                <div class="col-sm-2">Box Corner</div>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" name="shape" type="checkbox" id="shape" value="true" {{bindAttr checked="{{metavalue.isRounded}}"}}>
                                        <label class="form-check-label" for="gridCheck1">
                                            Enable round corner
                                        </label>
                                    </div>
                                </div>
                            </div> --}}
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">This section is provided with the server Admin. <a href="mailto:tastypoints.io">Ask em</a></h5>
                            <div class="form-group row">
                                <label for="token" class="col-sm-2 col-form-label">Token</label>
                                <div class="col-sm-10">
                                <input type="text" name="token" readonly class="form-control-plaintext" id="token" value="{{metavalue.pointWidgetToken}}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="server" class="col-sm-2 col-form-label">Server</label>
                                <div class="col-sm-10">
                                <input type="text" name="server" readonly class="form-control-plaintext" class="form-control" id="server" value="{{metavalue.pointWidgetServer}}" required="required">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
